mysql
mysql/*
.idea
files/*
.env
/.env
./.env
flowfile_core/files/*
flowfile_core/files/excel_files/
flowfile_core/files/csv/
flowfile_core/db_data
*__pycache__*
/flowfile_core/.cache_data
/flowfile_frontend/node_modules
/node_modules/*
/flowfile_core/analysis/
/flowfile_core/.cache_data/*
/flowfile_core/.venv-*
/.venv-*
/flowfile_core/.cache*
*.cache*
/flowfile_core/saved_flows/**.json
/flowfile_core/saved_flows/
/flowfile_core/flowfile_core/saved_flows/
/flowfile_frontend/dist-electron/*
/flowfile_core/tests/data/*
/dist
/build
/.vscode
/.idea
/.venv.DS_Store
site/ # Also ignore mkdocs build directory
**/.DS_Store
/docs/.venv/
docs/.venv/
**/.venv/**
/site/
/.venv
print_structure.py
/venv_flowfile/**
services_dist/
shared_data/
saved_flows/
/flowfile_frontend/playwright-report/index.html
/flowfile.db
/flowfile_frontend/flowfile.db
/flowfile_worker.spec
/flowfile_frontend/test-results/.last-run.json
/test_utils/postgres/postgres-docker-samples/
**/test_flowfile.db
/flowfile/flowfile/web/static/
flowfile.db
local_data
/custom_nodes/
/flowfile_core/tests/support_files/flows/new_flow.flowfile
/flowfile_frame/tests/output_csv.csv
/flowfile_core/tests/support_files/flows/sample_flow_path.flowfile
/flowfile_core/tests/support_files/flows/second_flow.flowfile
/flowfile_core/tests/support_files/flows/tmp/
