---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroDemo from '../components/HeroDemo.astro';
import Features from '../components/Features.astro';
import Comparison from '../components/Comparison.astro';
import Install from '../components/Install.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Flowfile - Visual ETL Tool Powered by Polars">
  <Header />
  <main>
    <HeroDemo />
    <Features />
    <Install />
    <Comparison />
  </main>
  <Footer />
</Layout>
