aiofiles==24.1.0 ; python_version >= "3.10" and python_version < "3.13"
airbyte @ https://github.com/Edwardvaneechoud/PyAirbyte/releases/download/v0.20.1.dev/airbyte-0.20.1-py3-none-any.whl ; python_version >= "3.10" and python_version < "3.13"
airbyte-api==0.49.4 ; python_version >= "3.10" and python_version < "3.13"
airbyte-cdk==6.44.0 ; python_version >= "3.10" and python_version < "3.13"
airbyte-protocol-models-dataclasses==0.14.2 ; python_version >= "3.10" and python_version < "3.13"
airbyte-protocol-models-pdv2==0.13.1 ; python_version >= "3.10" and python_version < "3.13"
altgraph==0.17.4 ; python_version >= "3.10" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
anyascii==0.3.2 ; python_version >= "3.10" and python_version < "3.13"
anyio==4.9.0 ; python_version >= "3.10" and python_version < "3.13"
asn1crypto==1.5.1 ; python_version >= "3.10" and python_version < "3.13"
attributes-doc==0.4.0 ; python_version >= "3.10" and python_version < "3.13"
attrs==25.3.0 ; python_version >= "3.10" and python_version < "3.13"
backoff==2.2.1 ; python_version >= "3.10" and python_version < "3.13"
backports-tarfile==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
bcrypt==4.3.0 ; python_version >= "3.10" and python_version < "3.13"
bracex==2.5.post1 ; python_version >= "3.10" and python_version < "3.13"
cachetools==5.5.2 ; python_version >= "3.10" and python_version < "3.13"
cattrs==24.1.3 ; python_version >= "3.10" and python_version < "3.13"
certifi==2025.1.31 ; python_version >= "3.10" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.4.1 ; python_version >= "3.10" and python_version < "3.13"
click==8.1.8 ; python_version >= "3.10" and python_version < "3.13"
cloudpickle==3.1.1 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows")
cryptography==44.0.2 ; python_version >= "3.10" and python_version < "3.13"
databases==0.9.0 ; python_version >= "3.10" and python_version < "3.13"
dataclasses-json==0.6.7 ; python_version >= "3.10" and python_version < "3.13"
dpath==2.2.0 ; python_version >= "3.10" and python_version < "3.13"
duckdb-engine==0.13.6 ; python_version >= "3.10" and python_version < "3.13"
duckdb==1.2.1 ; python_version >= "3.10" and python_version < "3.13"
dunamai==1.23.1 ; python_version >= "3.10" and python_version < "3.13"
ecdsa==0.19.1 ; python_version >= "3.10" and python_version < "3.13"
et-xmlfile==2.0.0 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
faker==23.1.0 ; python_version >= "3.10" and python_version < "3.13"
fastapi==0.115.12 ; python_version >= "3.10" and python_version < "3.13"
fastexcel==0.12.1 ; python_version >= "3.10" and python_version < "3.13"
filelock==3.18.0 ; python_version >= "3.10" and python_version < "3.13"
fsspec==2023.12.2 ; python_version >= "3.10" and python_version < "3.13"
genson==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
google-api-core==2.24.2 ; python_version >= "3.10" and python_version < "3.13"
google-api-core[grpc]==2.24.2 ; python_version >= "3.10" and python_version < "3.13"
google-api-python-client==2.149.0 ; python_version >= "3.10" and python_version < "3.13"
google-auth-httplib2==0.2.0 ; python_version >= "3.10" and python_version < "3.13"
google-auth-oauthlib==1.2.1 ; python_version >= "3.10" and python_version < "3.13"
google-auth==2.38.0 ; python_version >= "3.10" and python_version < "3.13"
google-cloud-bigquery-storage==2.30.0 ; python_version >= "3.10" and python_version < "3.13"
google-cloud-bigquery==3.30.0 ; python_version >= "3.10" and python_version < "3.13"
google-cloud-core==2.4.3 ; python_version >= "3.10" and python_version < "3.13"
google-cloud-secret-manager==2.23.2 ; python_version >= "3.10" and python_version < "3.13"
google-crc32c==1.7.1 ; python_version >= "3.10" and python_version < "3.13"
google-resumable-media==2.7.2 ; python_version >= "3.10" and python_version < "3.13"
googleapis-common-protos==1.69.2 ; python_version >= "3.10" and python_version < "3.13"
googleapis-common-protos[grpc]==1.69.2 ; python_version >= "3.10" and python_version < "3.13"
greenlet==3.1.1 ; python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.10"
grpc-google-iam-v1==0.14.2 ; python_version >= "3.10" and python_version < "3.13"
grpcio-status==1.62.3 ; python_version < "3.13" and python_version >= "3.10"
grpcio==1.71.0 ; python_version >= "3.10" and python_version < "3.13"
gspread==6.1.4 ; python_version >= "3.10" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.13"
httpcore==1.0.7 ; python_version >= "3.10" and python_version < "3.13"
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "3.13"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "3.13"
idna==3.10 ; python_version >= "3.10" and python_version < "3.13"
importlib-metadata==8.6.1 ; python_version >= "3.10" and python_version < "3.12"
iniconfig==2.1.0 ; python_version >= "3.10" and python_version < "3.13"
isodate==0.6.1 ; python_version >= "3.10" and python_version < "3.13"
jaraco-classes==3.4.0 ; python_version >= "3.10" and python_version < "3.13"
jaraco-context==6.0.1 ; python_version >= "3.10" and python_version < "3.13"
jaraco-functools==4.1.0 ; python_version >= "3.10" and python_version < "3.13"
jeepney==0.9.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "linux"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.13"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "3.13"
jsonpatch==1.33 ; python_version >= "3.10" and python_version < "3.13"
jsonpath-python==1.0.6 ; python_version >= "3.10" and python_version < "3.13"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
jsonref==0.2 ; python_version >= "3.10" and python_version < "3.13"
jsonschema==4.17.3 ; python_version >= "3.10" and python_version < "3.13"
keyring==25.6.0 ; python_version >= "3.10" and python_version < "3.13"
langchain-core==0.1.42 ; python_version >= "3.10" and python_version < "3.13"
langsmith==0.1.147 ; python_version >= "3.10" and python_version < "3.13"
loky==3.4.1 ; python_version >= "3.10" and python_version < "3.13"
macholib==1.16.3 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "darwin"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.13"
marshmallow==3.26.1 ; python_version >= "3.10" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.13"
methodtools==0.4.7 ; python_version >= "3.10" and python_version < "3.13"
mmhash3==3.0.1 ; python_version >= "3.10" and python_version < "3.13"
more-itertools==10.6.0 ; python_version >= "3.10" and python_version < "3.13"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
nltk==3.9.1 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.13"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.13"
openpyxl==3.1.5 ; python_version >= "3.10" and python_version < "3.13"
orjson==3.10.16 ; python_version >= "3.10" and python_version < "3.13"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "3.13"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.13"
pandas==2.2.2 ; python_version >= "3.10" and python_version < "3.13"
passlib==1.7.4 ; python_version >= "3.10" and python_version < "3.13"
pefile==2023.2.7 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
pendulum==2.1.2 ; python_version >= "3.10" and python_version < "3.13"
platformdirs==4.3.7 ; python_version >= "3.10" and python_version < "3.13"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "3.13"
polars-distance==0.4.3 ; python_version >= "3.10" and python_version < "3.13"
polars-ds==0.8.2 ; python_version >= "3.10" and python_version < "3.13"
polars-expr-transformer==0.4.6.0 ; python_version >= "3.10" and python_version < "3.13"
polars-grouper==0.3.0 ; python_version >= "3.10" and python_version < "3.13"
polars==1.25.2 ; python_version >= "3.10" and python_version < "3.13"
proto-plus==1.26.1 ; python_version >= "3.10" and python_version < "3.13"
protobuf==6.30.2 ; python_version >= "3.10" and python_version < "3.13"
psutil==6.1.0 ; python_version >= "3.10" and python_version < "3.13"
psycopg-binary==3.2.6 ; implementation_name != "pypy" and python_version >= "3.10" and python_version < "3.13"
psycopg-pool==3.2.6 ; python_version >= "3.10" and python_version < "3.13"
psycopg2-binary==2.9.10 ; python_version >= "3.10" and python_version < "3.13"
psycopg[binary,pool]==3.2.6 ; python_version >= "3.10" and python_version < "3.13"
pyarrow==18.1.0 ; python_version >= "3.10" and python_version < "3.13"
pyasn1-modules==0.4.1 ; python_version >= "3.10" and python_version < "3.13"
pyasn1==0.4.8 ; python_version >= "3.10" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.13"
pydantic-core==2.23.4 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.9.2 ; python_version >= "3.10" and python_version < "3.13"
pygments==2.19.1 ; python_version >= "3.10" and python_version < "3.13"
pyiceberg==0.6.1 ; python_version >= "3.10" and python_version < "3.13"
pyinstaller-hooks-contrib==2025.2 ; python_version >= "3.10" and python_version < "3.13"
pyinstaller==6.12.0 ; python_version >= "3.10" and python_version < "3.13"
pyjwt==2.10.1 ; python_version >= "3.10" and python_version < "3.13"
pyopenssl==25.0.0 ; python_version >= "3.10" and python_version < "3.13"
pyparsing==3.2.3 ; python_version >= "3.10" and python_version < "3.13"
pyrate-limiter==3.1.1 ; python_version >= "3.10" and python_version < "3.13"
pyrsistent==0.20.0 ; python_version >= "3.10" and python_version < "3.13"
pytest==8.3.5 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
python-jose==3.4.0 ; python_version >= "3.10" and python_version < "3.13"
python-multipart==0.0.20 ; python_version >= "3.10" and python_version < "3.13"
python-ulid==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
pytz==2024.2 ; python_version >= "3.10" and python_version < "3.13"
pytzdata==2020.1 ; python_version >= "3.10" and python_version < "3.13"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.13"
rapidfuzz==3.12.2 ; python_version >= "3.10" and python_version < "3.13"
regex==2024.11.6 ; python_version >= "3.10" and python_version < "3.13"
requests-cache==1.2.1 ; python_version >= "3.10" and python_version < "3.13"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "3.13"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
requests==2.32.2 ; python_version >= "3.10" and python_version < "3.13"
rich==13.9.4 ; python_version >= "3.10" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.13"
secretstorage==3.3.3 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "linux"
serpyco-rs==1.13.0 ; python_version >= "3.10" and python_version < "3.13"
setuptools==78.1.0 ; python_version >= "3.10" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
snowflake-connector-python==3.14.0 ; python_version >= "3.10" and python_version < "3.13"
snowflake-sqlalchemy==1.7.3 ; python_version >= "3.10" and python_version < "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "3.13"
sqlalchemy-bigquery==1.12.0 ; python_version >= "3.10" and python_version < "3.13"
sqlalchemy==2.0.40 ; python_version >= "3.10" and python_version < "3.13"
starlette==0.46.1 ; python_version >= "3.10" and python_version < "3.13"
strictyaml==1.7.3 ; python_version >= "3.10" and python_version < "3.13"
structlog==24.4.0 ; python_version >= "3.10" and python_version < "3.13"
tenacity==8.5.0 ; python_version >= "3.10" and python_version < "3.13"
tomli==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.13.2 ; python_version >= "3.10" and python_version < "3.13"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.13"
types-pyyaml==6.0.12.20250326 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.13.0 ; python_version >= "3.10" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.13"
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "3.13"
url-normalize==2.2.0 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.3.0 ; python_version >= "3.10" and python_version < "3.13"
uuid7==0.1.0 ; python_version >= "3.10" and python_version < "3.13"
uvicorn==0.32.1 ; python_version >= "3.10" and python_version < "3.13"
wcmatch==10.0 ; python_version >= "3.10" and python_version < "3.13"
whenever==0.6.17 ; python_version >= "3.10" and python_version < "3.13"
wirerope==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
xlsxwriter==3.2.2 ; python_version >= "3.10" and python_version < "3.13"
xmltodict==0.14.2 ; python_version >= "3.10" and python_version < "3.13"
zipp==3.21.0 ; python_version >= "3.10" and python_version < "3.12"
polars-simed==0.3.3 ; python_version >= "3.10" and python_version < "3.13"
connectorx ; python_version >= "3.10" and python_version < "3.13"